<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/data_form}">Form <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link">
          <a th:href="@{/show_form}">Results <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-link">
          <a th:href="@{/edit}">Edit <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>