<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div th:replace="../static/nav :: navbar">
</div>
<h1>Edit form</h1>
<table>
    <tr th:each="number: ${numbers}">
        <td><p th:text="'id: ' + ${number.key}" /></td>
        <td><p th:text="'account number: ' + ${number.value}" /></td>
    </tr>
</table>
<h1>Change account number</h1>
<form method="post" th:action="@{/change_account_number}">
    <input type="text" th:attr="name='accountNumber'">
    <input type="text" th:attr="name='accountName'">
    <input type="submit">
</form>
</body>
</html>