<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div th:replace="../static/nav :: navbar">
</div>
<h1>Results</h1>
<form method="get" th:action="@{/edit}">
    <input type="submit">
</form>
<table>
    <tr th:each="l: ${list}">
        <td><p th:text="'id: ' + ${l.personalId}" /></td>
        <td><p th:text="'account number: ' + ${l.accountNumber}" /></td>
        <td><p th:text="'product type: ' + ${l.productType}" /></td>
        <td><p th:text="'account name: ' + ${l.accountName}" /></td>
    </tr>
</table>
<h1>Close</h1>
<form method="post" th:action="@{/close}">
    <input type="text" th:attr="name='number'">
    <input type="submit">
</form>
</body>
</html>